# import

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# path to string

In [17]:
path = r'C:\Users\leevg\OneDrive\Desktop\CF\DI\A6'

# import data

In [19]:
df = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'TSA Claims Cleaned.csv'))

# checking data

In [20]:
df.head()

,Claim Number,Date Received,Incident Date,State,Airport Name,Airline Name,Claim Type,Claim Site,Item,Claim Amount,Status,Close Amount,Disposition
0,12772,6/20/02,5/9/02,Maryland,Baltimore/Washington Intl Thurgood Marshall,Southwest Airlines,Other,Checkpoint,Clothing,75.00,Approved,75.0,Approve in Full
1,14268,6/20/02,6/16/02,Arizona,Phoenix Sky Harbor International,Other,Property Damage,Checkpoint,Computers,2270.09,Canceled,0.0,Cancel
2,2.0041E+12,6/25/02,5/4/02,Georgia,Hartsfield-Jackson Atlanta International Airport,Other,Passenger Property Loss,Checkpoint,Jewelry,4457.29,Denied,0.0,Deny
3,14460,7/8/02,6/12/02,Maryland,Baltimore/Washington Intl Thurgood Marshall,American Airlines,Other,Checkpoint,Glasses & Contacts,16.71,Approved,17.0,Approve in Full
4,13334,7/8/02,6/4/02,Maryland,Baltimore/Washington Intl Thurgood Marshall,Southwest Airlines,Other,Other,Clothing,450.00,Canceled,0.0,Cancel

In [21]:
df.shape

(139201, 13)

In [22]:
df.dtypes

Claim Number      object
Date Received     object
Incident Date     object
State             object
Airport Name      object
Airline Name      object
Claim Type        object
Claim Site        object
Item              object
Claim Amount     float64
Status            object
Close Amount     float64
Disposition       object
dtype: object

# dropping unnecessary column

In [25]:
df.drop(['Claim Number'], axis=1, inplace=True)

In [29]:
# Checking once again

In [26]:
df.head()

,Date Received,Incident Date,State,Airport Name,Airline Name,Claim Type,Claim Site,Item,Claim Amount,Status,Close Amount,Disposition
0,6/20/02,5/9/02,Maryland,Baltimore/Washington Intl Thurgood Marshall,Southwest Airlines,Other,Checkpoint,Clothing,75.00,Approved,75.0,Approve in Full
1,6/20/02,6/16/02,Arizona,Phoenix Sky Harbor International,Other,Property Damage,Checkpoint,Computers,2270.09,Canceled,0.0,Cancel
2,6/25/02,5/4/02,Georgia,Hartsfield-Jackson Atlanta International Airport,Other,Passenger Property Loss,Checkpoint,Jewelry,4457.29,Denied,0.0,Deny
3,7/8/02,6/12/02,Maryland,Baltimore/Washington Intl Thurgood Marshall,American Airlines,Other,Checkpoint,Glasses & Contacts,16.71,Approved,17.0,Approve in Full
4,7/8/02,6/4/02,Maryland,Baltimore/Washington Intl Thurgood Marshall,Southwest Airlines,Other,Other,Clothing,450.00,Canceled,0.0,Cancel

In [27]:
df.shape

(139201, 12)

In [28]:
df.dtypes

Date Received     object
Incident Date     object
State             object
Airport Name      object
Airline Name      object
Claim Type        object
Claim Site        object
Item              object
Claim Amount     float64
Status            object
Close Amount     float64
Disposition       object
dtype: object

# descriptive statistics

In [23]:
df.describe()

       Claim Amount   Close Amount
count  1.392010e+05  139201.000000
mean   2.706941e+03      91.393863
std    4.335396e+05     300.049645
min    8.000000e-01       0.000000
25%    5.936000e+01       0.000000
50%    1.590000e+02       7.750000
75%    4.236000e+02      77.240000
max    1.250000e+08   20000.000000

# export

In [30]:
df.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'TSA Claims Cleaned Data.csv'))